<div class="row-fluid">
  <section id="mentor-list" class="container">
    <div class="row-fluid">
      <div class="span7">
        <h2>在这里你可以接受到行业精英的悉心指导！</h2>
        <p>已经有超过<span>100</span>名的北邮校友加入导师团，他们将毫无保留地帮助他们喜欢的项目。而这一切一切，都是免费的！</p>
        <div class="mentor-info">
          <h4>做36氪以来，我总结出一套判断一个项目靠谱不靠谱的方法，我将用这方法来帮助大家。</h4>
          <a class="" href="user.html" target="_blank">刘成城</a>
          <p>北邮2006级本科 36氪CEO</p>
        </div>
      </div>
      <div class="span5">
        <img src="http://img.36tr.com/img/circle/cc.png">
      </div>
    </div>
  </section>
</div>
