<div class="row-fluid">
  <section id="gift-list" class="span12">
    <h2>你的创意与努力都记录在这里</h2>
    <p>在模式方你可以发表最酷的点子，号召小伙伴们加入来一起干！同时，你也能看到其他好项目，大家互相吸取优点。目前已有<span>100</span>个项目。</p>
    <p></p>
    <div class="row-fluid">
      <div class="gift-wrap">
        <div class="gift span3">
          <a class="gift-poster" href="gift.html">
            <img src="https://d19weqihs4yh5u.cloudfront.net/links/7a2f6f98e4803bfe2891f552596e7a5634619875/350x200">
          </a>
          <div class="gift-detail">
            <div class="title">
              Breather智能门锁：做租房领域的Zipcar
            </div>
            <div class="labels">
              <div class="label label-idea"> </div>
              <span class="follower">+100关注</span>
            </div>
          </div>
        </div>
        <div class="gift span3">
          <a class="gift-poster" href="">
            <img src="http://leiphone.qiniudn.com/uploads/02-5/-2/02-50-20-17.jpg">
          </a>
          <div class="gift-detail">
            <div class="title">
              <i class="icon-wrench"></i> 纠错神器Lernstift：出现拼写错误就振动!
            </div>
            <div class="labels">
              <div class="label label-stop"> </div>
              <span class="follower">+100关注</span>
            </div>
          </div>
        </div>
        <div class="gift span3">
          <a class="gift-poster" href="">
            <img src="http://www.qidic.com/wp-content/uploads/2013/06/9a1bf6890585da326f9eb065aae6fc49_272.jpg">
          </a>
          <div class="gift-detail">
            <div class="title">
              敬老有实效 内置卫星导航的智能手杖有真情
            </div>
            <div class="labels">
              <div class="label label-ing"> </div>
              <span class="follower">+100关注</span>
            </div>
          </div>
        </div>
        <div class="gift span3">
          <a class="gift-poster" href="">
            <img src="http://leiphone.qiniudn.com/uploads/03-0/-2/03-04-27-50.jpg">
          </a>
          <div class="gift-detail">
            <div class="title">
              运动能量收集：把你变成驱动物联网的电源
            </div>
            <div class="labels">
              <div class="label"> </div>
              <span class="follower">+100关注</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="gift-wrap">
          <div class="gift span3">
            <a class="gift-poster" href="">
              <img src="http://a.36krcnd.com/photo/7ca8bf0a1c70fdeed2fd6184bb1667a9.png">
            </a>
            <div class="gift-detail">
              <div class="title">
                一个小USB连接器就能给你一个更快更安全的本地Dropbox
              </div>
              <div class="labels">
                <div class="label label-soon"> </div>
                <span class="follower">+100关注</span>
              </div>
            </div>
          </div>
          <div class="gift span3">
            <a class="gift-poster" href="">
              <img src="http://leiphone.qiniudn.com/uploads/08-1/-4/08-12-49-45.png">
            </a>
            <div class="gift-detail">
              <div class="title">
                OMsignal：智能衣物帮你照看家人
              </div>
              <div class="labels">
                <div class="label label-idea"> </div>
                <span class="follower">+100关注</span>
              </div>
            </div>
          </div>
          <div class="gift span3">
            <a class="gift-poster" href="">
              <img src="http://a.36krcnd.com/photo/202a02dfecc3d880a1cb35c01bceed78.jpg">
            </a>
            <div class="gift-detail">
              <div class="title">
                智能手表大作战！
              </div>
              <div class="labels">
                <div class="label label-idea"> </div>
                <span class="follower">+100关注</span>
              </div>
            </div>
          </div>
          <div class="gift span3">
            <a class="gift-poster" href="">
              <img src="http://igao7.qiniudn.com/uploads/06-0/-1/06-09-10-23.jpg">
            </a>
            <div class="gift-detail">
              <div class="title">
                摆脱鼠标束缚 Skymouse用手势来控制鼠标
              </div>
              <div class="labels">
                <div class="label label-idea"> </div>
                <span class="follower">+100关注</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/span-->
</div>
