<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="800">
        <div style="background-color: rgb(1, 90, 132); width: 100%; height: 40px; color: rgb(255, 255, 255); font-size: 16px; line-height: 40px; text-indent: 2em; display: block;"> 欢迎使用blog服务！</div>
        <div style="background-color: rgb(255, 255, 255); display: block; width: 800px; float: left; height: 250px; border: 1px solid rgb(146, 167, 140);">
          <p style="color: rgb(0, 0, 0); font-size: 16px; padding: 0pt 10px;">尊敬的用户：</p>
          <p style="color: rgb(0, 0, 0); font-size: 16px; padding: 0pt 15px;">
            请点击链接激活账号：
            <br/>
            <a target="_blank" href="http://112.124.18.248:8008/sessions/activity/<%= @user.id %>" style="font-size: 12px;">http://112.124.18.248:8008/sessions/activity/<%= @user.id %></a>
            <br/>
            或将该地址复制到浏览器进行激活。
          </p>          
        </div>
        <div style="background-color: rgb(197, 211, 191); font-size: 14px; text-indent: 1em; line-height: 40px; float: left; width: 100%; height: 40px;">本邮件为blog系统邮件，请勿直接回复。</div>
      </td>
    </tr>
  </tbody>
</table>