body{
	background: #efefef!important;
	overflow-y: scroll;
}
.content{
	/*overflow-y: scroll; */
	background: #e5e9ec;
	position: absolute;
	right: 0;
	left: 240px;
	top: 0;
	bottom: 0;
	/*font-family: 华文细黑;*/
	font-family: 'helvetica neue',  'hiragino sans gb', 'stheiti', 'microsoft yahei', \5FAE\8F6F\96C5\9ED1,tahoma,sans-serif;
}
.content .content-header{
	background: #fff;
	padding: 10px 30px;
	height: 40px;
}
.content .content-header h1{
	margin: 0;
	font-weight: normal;
	float: left;
}
.content .content-header ul{
	list-style: none;
	float: right;
}
.content .content-header ul li{
	float: left;
	margin-right: 5px;
}
.content .content-header ul li.filter{
	line-height: 35px;	
}
.content .content-header ul li.dropdown{
	float: left;
	margin-right: 5px;
}
.content .content-header ul li.dropdown span{
	margin-top: 16px;
	border-top-color: #ccc;
}
.dropdown-menu{
	left: auto;
	right: 0;
	border-radius: 0;
	padding: 10px;
}
.content .content-wrap{
	background: #e5e9ec;
	padding-bottom: 20px
}
.content .content-wrap ul{
	list-style: none;
	padding: 0;
	margin: 0 20px 0 40px;
	overflow: hidden;
}
.content .content-wrap ul li.gift{
	position: relative;
	height: 270px;
	width: 31%;
	margin-bottom: 20px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	float: left;
	margin: 20px 17px 0 0;
	list-style: none;
	overflow: hidden;
}
.content .content-wrap ul li.gift a.gift-poster, .gift-preview .gift-poster{
	width: 100%;
	height: 180px;
	display: block;
	position: absolute;
	top: 0;
	bottom: 52px;
	left: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
}
.content .content-wrap ul li.gift a.gift-poster img, .gift-preview .gift-poster img{
	/*max-width: 100%;
	max-height: 200px;*/
	width: 100%;
	height: 100%;
	vertical-align: middle;
	opacity: 1;
}
.content .content-wrap ul li.gift a.gift-poster img:hover {
	opacity: 0.8;
}
.content .content-wrap ul li.gift .gift-detail, .gift-preview .gift-detail {
	padding: 10px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.content .content-wrap .gift-detail .title,.gift-preview .gift-detail .title{
	height: 40px;
}
.content .content-wrap .gift-detail .labels,.gift-preview .gift-detail .labels{
	margin-top: 10px;
	font-size: 12px;
	color: #a7a7a7;
	border-top: 1px solid #eee;
	padding-top: 5px;
}
.content .content-wrap .gift-detail .labels span{
	margin-right: 5px;
}
.dot {
	width: 6px;
	height: 6px;
	background: #F1C40F;
	padding: 0;
	border-radius: 3px;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 2px;
	background: #30c08b;
}
.tag{
	background: #2ECC71;
	color: white;
	padding: 0 3px;
}
.labels .label,.label-wrap .label{
	background: #30c08b;
	color: white;
	padding: 0 3px;
	border: 0;
	border-radius: 0;
	line-height: 20px;
}
.labels .label {
	float: right;
}
.labels .label:after,.label-wrap .label:after{
	content: "运营中";
}
.label.label-idea, .dot.dot-idea{
	background: #F1C40F;
}
.label.label-idea:after{
	content: "创意";
}
.label.label-ing, .dot.dot-ing{
	background: #3498DB;
}
.label.label-ing:after{
	content: "研发中";
}
.label.label-soon, .dot.dot-soon{
	background: #1ABC9C;
}
.label.label-soon:after{
	content: "即将推出";
}
.label.label-stop, .dot.dot-stop{
	background: #BDC3C7;
}
.label.label-stop:after{
	content: "已停止";
}
.loadingmore{
	float: left;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	height: 32px;
	margin-top: 20px;
}
#gift{
	padding: 0;
	margin: 0;
	/*position: absolute;*/
	/*height: 100%;
	width: 100%;*/
	/*background: #f7f7f7;*/
	border-radius: 0;
	border: 0;
	box-shadow: none;
	/*top: 0;
	left: 0;*/
	/*font-family: 华文细黑;*/
	font-family: 'helvetica neue',  'hiragino sans gb', 'stheiti', 'microsoft yahei', \5FAE\8F6F\96C5\9ED1,tahoma,sans-serif;
}
.gift-body{
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;*/
}
#logo{
	position: fixed;
	background: url(../img/logo.png) 0 0 no-repeat;
	/*background-size: 52px auto;*/
	height: 42px;
	width: 80px;
	z-index: 100;
	font-size: 0;
	top: 9px;
	left: 20px;
}
#gift .actions {
	position: fixed;
	top: 12px;
	right: 20px;
	margin: 0;
	list-style: none;
	opacity: 1;
	z-index: 100;
}
#gift .actions li {
	display: inline-block;
	float: right;
}
#gift .actions li.share-tool{
	display: none;
	height: 45px;
	background: rgba(255,255,255,0.3);
}
#gift .actions li>a{
	display: block;
	background: rgba(255,255,255,0.5);
	text-align: center;
	height: 45px;
	width: 45px;
	opacity: .4;
	cursor: pointer;
	text-shadow: none;
}
#gift .actions li>a i{
	margin-top: 14px;
}
#gift .actions li a:hover{
	opacity: 0.8;
	color: black;
}
#gift .actions li a.close{
	margin-left: 5px;
	line-height: 40px;
	font-weight: 200;
	font-size: 35px;
}
#gift .followbtn{
	position: fixed;
	right: 20px;
	top: 60px;
	z-index: 10000;
}
#gift .gift-media .control {
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #222;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: .5;
	filter: alpha(opacity=50);
}
#gift .gift-media .control:hover{
	background: black;
	opacity: .8;
	filter: alpha(opacity=80);
}
#gift .gift-media .control:hover {
	color: white;
	border-color: white;
}
#gift .gift-media .feed{
	right: 0;
	left: auto;
}
#gift .gift-media .project{
	left: 0;
	/*display: none;*/
}
/*#gift .gift-media .control span{
	position: absolute;
	top: 50%;
	width: 24px;
	height: 24px;
	padding: 20px;
	font-size: 54px;
	font-weight: 200;
	cursor: pointer;
	margin-top: -80px;
	vertical-align: middle;
	display: block;
}*/
/*#gift .gift-media .read-more{
	position: absolute;
	bottom: -50px;
	z-index: 100;
	text-transform: uppercase;
	text-indent: -9999cm;
	background: #fff;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	left: 50%;
	margin-left: -50px;
	background: url(https://d17f28g3dsa4vh.cloudfront.net/img/icon-more.png) center 28px no-repeat white;
	background-size: 30px;
	-webkit-transition: .1s linear bottom;
	box-shadow: 0 0 0 6px #eee;
}*/
/*#gift .gift-media .read-more:hover{
	bottom: -45px;
}*/
#gift .gift-media{
	/*height: 460px;*/
	overflow: hidden;
	position: relative;
	/*background-color: #fcfcfc;*/
	/*padding-bottom: 40px;*/
}
/*#gift .gift-media:after{
	content: '';
	display: block;
	height: 60px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.00784314) 40%, rgba(240, 240, 240, 0.521569) 80%);
}*/
#gift .no-after.gift-media:after{
	content: none;
}
#gift .gift-media .gift-content{
	margin: 0 auto;
}
#gift .gift-media .item{
	/*height: 460px;*/
	margin-top: 40px;
	overflow-y: hidden;
	padding-bottom: 40px;
	display: none;
}
#gift .gift-media .item.active{
	display: block;
}
#gift .gift-media .item.tweet-browse{
	display: block;
}
#gift .item .item-content{
	min-height: 500px;
	width: 640px;
	margin: 0 auto;
	padding: 20px 20px;
	list-style: none;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#gift h1 {
	width: 680px;
	text-align: center;
	margin: 60px auto 0 auto;
}
#gift .gift-media .label-wrap{
	width: 680px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}
#gift .item.article .item-content>div>p {
	font-size: 16px;
	line-height: 1.7;
	color: #414243;
}
#project .intro{
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
#project .detail{
	padding-top: 15px;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #ddd;*/
}
#project .newtweet ul{
	list-style: none;
	margin-left: 0;
}
#project .newtweet ul .moretweet{
	text-align: center;
	color: #777;
}
#project .newtweet ul .moretweet a{
	color: #777;
}
#tweets .feedlist, #project .feedlist{
	margin: 0;
	list-style: none;
}
#project .feedlist .morefeeds{
	text-align: center;
}
#project .item-content:first-child{
	margin-bottom: 20px;
	min-height: initial;
}
#tweets .info {
	margin: 0 auto;
	background-color: white;
}
#tweets .info h3,#comments h3{
	display: inline-block;
	margin-top: 0; 
}
#tweets .info a{
	float: right;
	/*margin-top: 7px;*/
}
#tweets .info a i{
	margin-top: 4px;
}
#gift .tweet-browse ul li{
	clear: both;
	/*margin-bottom: 30px;*/
	/*border-bottom: 1px solid #eee;*/
	background: white;
	padding: 20px 30px;
	margin-bottom: 0;
	border-top: 2px solid #fcfcfc;
}
#gift .tweet-browse .tweet-title i{
	margin-top: 9px;
	margin-right: 10px;
}
/*#gift .tweet-browse .tweet-info{
	margin-bottom: 10px;
}*/
#gift .tweet-browse .tweet-info .tweet-reply, #gift .tweet-browse .tweet-info .tweet-time{
	color: #999;
	font-size: 12px;
	display: inline-block;
}
/*#gift .gift-members {
	background-color: white;
}*/
#gift .gift-members .members-content{
	padding: 60px 0;
	max-width: 80%;
	margin: 0 auto;
}
#gift .gift-members ul {
	list-style: none;
	clear: both;
	overflow: hidden;
}
#gift .gift-members ul:before,#gift .gift-members ul:after{
	display: table;
	line-height: 0;
	content: "";
}
#gift .gift-members ul li{
	margin-bottom: 20px;
	display: block;
	float: left;
	width: 30%;
	margin-right: 3.3%;
}
#gift .gift-members ul li .title{
	font-size: 12px;
	color: #777;
}
#gift .gift-members div.gift-sponsor{
	clear: both;
}
#gift .gift-members div.gift-sponsor .moreinfo{
	color: #777;
	font-size: 12px;
}
/*#gift .gift-members div.gift-sponsor ul li{
	width: 20%;
	margin-right: 5%;
}*/
#gift .gift-members ul li a img{
	width: 42px;
	height: 42px;
	border-radius: 21px;
	border: 1px solid #777;
	float: left;
	margin-right: 5px;
	background: #ddd;
}
.divider {
	height: 100%;
	width: 0;
	border-left: 1px solid #ddd;
}
.gift-view .comments .comment-content{
	
}
.gift
.comments{
	margin-top: 10px;
}
.comments .comment-number{
	color: #999;
	font-size: 12px;
}
.comments .comment-number i{
	opacity: 0.4;
}
.comments .comment-number:hover i{
	opacity: 0.9;
}
/*.comments .comment-number:before{
	content: "评论";
	color: #999;
}*/
.comment-content{
	width: 640px;
	margin: 0 auto;
	padding: 30px 0;
}
.comment-content h3{
	margin-bottom: 30px;
	color: #777;
}
.comment-content h3 span{
	font-weight: normal;
}
.comment-content ul.comment-list{
	list-style: none;
}
.comment-list .avatar{
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 15px;
	margin-right: 20px;
	background: #ddd;
	border: 1px solid #ddd;
}
.comment-list .date{
	float: right;
	color: #999;
	font-size: 12px;
}
.comment-list li{
	margin-bottom: 15px;
	list-style: none;
}
.comment-list li a{
	text-decoration: none;
	color: #444;
	font-weight: bold;
}
.comment-list .username{
	display: inline-block;
}
.new-comment{
	overflow: hidden;
}
.new-comment .new-comment-content{
	border-radius: 0;
	border: none;
	width: 93%;
	border-bottom: 1px solid #eee;
	box-shadow: none;
	margin-bottom: 20px;
	background: transparent;
	margin-left: 25px;
	margin-top: 15px;
}
#inputExcerpt{
	border-radius: 0;
	border: 1px solid #eee;
	box-shadow: none;
	background: transparent;
	width: 50%;
}
.new-comment .new-comment-content:focus{
	background: #eee;
}
.new-comment input{
	float: right;
	margin-top: 10px;
	/*border-radius: 0;*/
}

/*user page*/
.profile-header{
	padding: 30px 30px 0;
	height: 76px;
	background-color: white;
	margin: 0;
}
.profile-header .details{
}
.profile-header .avatar{
	width: 48px;
	height: 48px;
	float: left;
	background: #ddd;
	border-radius: 24px;
	border: 1px solid #777;
}
.profile-header h3{
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	margin-left: 70px;
}
.profile-header .details .detail-item{
	font-size: 16px;
	line-height: 19px;
	color: #777;
	font-weight: 300;
	margin: 5px 150px 5px 70px;
	position: relative;
}
.profile-header .details .detail-item p {
	display: inline-block;
	margin: 0;
}
.profile-header .details .detail-item .edit{
	/*margin-left: 3px;*/
	display: none;
	cursor: pointer;
	height: 16px;
}
.profile-header .details .detail-item:hover .edit{
	display: inline-block;
}
.profile-header .details .detail-item .edit-input{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #ddd;
	color: #555;
	margin: 0;
	padding: 0 4px;
}
.profile-header .details .detail-item .edit-input:focus{
	background: #eee;
	box-shadow: none;
	border-bottom: 1px solid #eee;
}
.profile-header .contact{
	list-style: none;
	float: right;
}
.profile-header ul.contact li{
	float: right;
	margin-left: 10px;
}
ul.contact li>span{
	display: none;
	vertical-align: top;
}
ul.contact li i[class^="icon-"]{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
ul.contact li i[class^="icon-"].light{
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.profile-nav{
	background: white;
	border-bottom: 1px solid #eee;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.profile-nav.fixed-top{
	position: fixed;
	top: 0;
	left: 240px;
	right: 0;
	z-index: 99;
}
.profile-nav .subnav{
	display: table;
	padding: 15px 30px;
	clear: both;
	list-style: none;
	margin: 0;
}
.profile-nav .subnav li{
	float: left;
	margin-right: 20px;
	color: #555;
	font-weight: bold;
}
.profile-nav .subnav li a{
	color: #555;
	text-decoration: none;
}
.profile-nav .subnav li a span{
	font-weight: normal;
	color: #999;
}
.profile-nav .subnav li.active a{
	color: #30c08b;
}
.profile-nav .subnav li .tweet-info{
	font-size: 12px;
	color: #777;
}
.profile-content{
	height: 100%;
	position: relative;
}
.profile-content section h3{
	margin-left: 30px;
}
.profile-content ul.project-list{
	list-style: none;
	margin: 0;
}
.profile-content ul.project-list li{
	border-top: 1px solid #eee;
	margin: 0;
	padding: 20px 30px;
	background-color: white;
	min-height: 42px;
	font-size: 17px;
}
.profile-content ul.project-list .tweet-like{
	font-size: 13px;
	color: #777;
}
.profile-content ul.project-list .project{

}
.profile-content ul.project-list img{
	width: 68px;
	height: 42px;
	background: #eee;
	float: left;
	margin-right: 10px;
}
.profile-content ul.project-list .labels{
	font-size: 12px;
	color: #a7a7a7;
}
.profile-content ul.project-list .labels .label{
	float: none;
	margin-right: 10px;
}
#editprofile{
	width: 640px;
	margin: 0 auto;
	display: none;
}
.personalinfo{
	margin-bottom: 20px;
	overflow: hidden;
}
.personalinfo input[type="text"], .contact input[type="text"]{
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #ddd;
	color: #555;
	padding: 8px 8px 5px;
	font-size: 20px;
}
.uploadavatar{
	float: left;
	position: relative;
	margin-right: 30px;
	cursor: pointer;
	width: 102px;
	height: 102px;
	overflow: hidden;
}
.uploadavatar span{
	position: absolute;
	top: 41px;
	left: 23px;
}

.uploadavatar img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #ccc;
	border: 1px solid #777;
}
.uploadavatar img:after{
	content: "image";
	width: 100px;
	height: 100px;
	color: white;
}
.uploadavatar input{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 100px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
.contact{
	clear: both;
}
.contact .input-prepend{
	display: block;
}
.contact .input-prepend .add-on{
	padding: 6.5px 5px;
	width: 20px;
	border: none;
	border-radius: 0;
}
.contact .input-prepend .add-on i {
	margin-top: 0;
}
.contact .input-prepend .add-on i:hover {
	opacity: 1;
}



/*new*/
#projectdetail{
	width: 640px; 
}
#gift .container{
	margin-top: 60px;
	/*width: 736px;*/
}
#gift .container form{
	background-color: white;
	padding: 20px 40px;
	position: relative;
}
#gift .container fieldset{
	margin: 40px 0 0 0;
	padding: 40px 0 0 0;
	border-top: 1px solid #eee;
}
#gift .container .gift-preview{
	position: absolute;
	right: 100px;
	top: 160px;
	box-shadow: none;
	height: 270px;
	width: 31%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	border: 1px solid #e5e9ec;
}
.gift-preview .gift-poster{
	background: #eee;
}
.form-horizontal .control-group {
	margin-bottom: 65px;
}
.control-group .control-label {
	font-size: 14px;
	font-weight: 600;
	color: #777;
}
.control-group .control-label em{
	color: #E74C3C;
}
.control-group .help-block{
	color: #bbb;
}
.control-group .error-block{
	color: #E74C3C;
	display: block;
}
.control-group input[type="text"],.modal input[type="text"]{
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #ddd;
	color: #555;
	padding: 8px 8px 5px;
	font-size: 20px;
}
.control-group input[type="text"]:focus,.modal input[type="text"]:focus{
	background: #eee;
	box-shadow: none;
	border-bottom: 1px solid #eee;
}
.control-group select{
	border-radius: 0;
}
.control-group select:focus{
	border: none;
}
.control-group .projectname{
	width: 385px;
}
.control-group ul{
	list-style: none;
	margin: 0;
}
.control-group ul li{
	margin-bottom: 20px;
}
.control-group .members>li{
	overflow: hidden;
	display: table;
	padding: 5px;
}
.control-group .members .avatar{
	width: 42px;
	height: 42px;
	border-radius: 21px;
	border: 1px solid #ddd;
	float: left;
	background-color: #ddd;
	text-align: center;
}
.control-group .members .avatar:after{
	content: "+";
	line-height: 42px;
	color: #999;
	font-size: 25px;
	font-weight: bold;
}
.control-group .members div.name{
	/*float: left;*/
	margin-left: 55px;
}
.control-group .members div.name span{
	font-size: 20px;
}
.control-group .members div.name .job{
	font-size: 16px;
}
.control-group .members div.name .remove{
	font-size: 20px;
	text-decoration: none;
	color: #ddd;
}
.control-group .members div.name .remove:hover{
	color: #777;
}
.control-group .members input{
	display: block;
}
.control-group .tags-suggestion{
	margin: 20px 0 10px 0;
	color: #bbb;
}
.control-group .tags-suggestion a{
	cursor: pointer;
}
.control-group .tags-suggestion a:after{
	content: "+";
}
.control-group .tags-suggestion a:hover{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
}
.gift-preview .gift-poster img {
	display: none;
}
.gift-preview .gift-poster:after{
	content:"封面图片";
	color: #999;
	line-height: 180px;
}

/*modal style*/
.modal{
	border: 0;
	border-radius: 0;
	/*font-family: 华文细黑;*/
	width: 682px;
	margin-left: -341px;
}
.modal-backdrop.fade.in{
	opacity: .3;
	filter: alpha(opacity=30);
}
.modal .close{
	margin: 10px 0;
}
.modal .modal-body{
	position: initial;
}
#modal form {
	margin: 0;
}
#modal-editor{
	width: 640px;
}
.modal .newtweet-title{
	margin-bottom: 20px;
}
.modal .newtweet-title input{
	margin-bottom: 0;
	width: 385px;
}
.modal #inputContribute{
	display: none;
}
.modal .newtweet-title>span {
	display: inline-block;
	margin-left: 10px;
}
.modal .newtweet-title>span>.avatar {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	border: 1px solid #ddd;
	background-color: #ddd;
}
.modal .newtweet-title>span>a.remove {
	font-size: 20px;
	text-decoration: none;
	color: #ddd;
	margin-left: 5px;
}
.modal .newtweet-title>span>span {
	margin-left: 10px;
	font-size: 20px;
	line-height: 20px;
}
.modal .flash {
	display: none;
	text-align: center;						
}
#gift .tweet-title{
	padding: 10px 30px 0 30px;
}
#gift .tweet-title>h4>i{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#gift .tweet-title>h4>i{
	margin-top: 4.5px;
}
#gift .tweet-title>h4>a{
	margin-left: 10px;
}
#gift .tweet-body{
	padding: 0 30px 10px 30px;
}
#gift .tweet-info{
	font-size: 12px;
	padding: 0 30px 10px 30px;
	/*border-bottom: 2px solid #fcfcfc;*/
	color: #999;
	font-size: 12px;
}
#gift .tweet-info .tweet-time{
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline-block;
}
#gift .question-list{
	list-style: none;
	margin: 0;
	margin-bottom: 10px;
}
#gift .question-list li{
	margin-bottom: 10px;
}
.question-list li .answerer{
	margin: 10px 0;
	/*padding: 10px;*/
}
.question-list li .answerer .avatar{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #ddd;
	border: 1px solid #ddd;
	/*float: left;*/
}
.question-list li .answerer .name, .question-list li .answerer .profile{
	/*float: left;*/
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}
.question-list li .answerer .profile{
	color: #999;
}
.question-list li .answerer .name{
	font-size: 14px;
}
.question-list li .answer{
	clear: both;
}
.question-list li .like{
	margin-top: 10px;
}
.question-list li .like .like-list{
	display: inline-block;
	font-size: 12px;
	color: #999;
}
/*btn*/
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-image: none;
	box-shadow: none;
}
.btn-success {
	color: #ffffff;
	background-color: #2ECC71;
	border-color: #27AE60;
}
.btn-success:hover,.btn-success:active{
	background: #27AE60;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}
.btn-group>.btn.active{
	color: #ffffff;
	background-color: #2ECC71;
}

/*icons*/
.icon-home,.icon-quill,.icon-image,.icon-film,.icon-cart,.icon-coin,.icon-phone,.icon-envelop,.icon-stopwatch,.icon-drawer,.icon-user,.icon-search,.icon-hammer,.icon-lab,.icon-signup,.icon-thumbs-up,.icon-thumbs-up2,.icon-notification,.icon-question,.icon-info,.icon-blocked,.icon-plus,.icon-filter,.icon-text-height,.icon-bold,.icon-underline,.icon-italic,.icon-share, [class^="ke-icon-"],[class*=" ke-icon-"] {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover{
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.icon-home {
	background-position: 0 0;
}
.icon-quill {
	background-position: -32px 0;
}
.icon-image,.ke-icon-image {
	background-position: -64px 0;
}
.icon-film,.ke-icon-media {
	background-position: -96px 0;
}
.icon-cart {
	background-position: -128px 0;
}
.icon-coin {
	background-position: -160px 0;
}
.icon-phone {
	background-position: -192px 0;
}
.icon-envelop {
	background-position: -224px 0;
}
.icon-stopwatch {
	background-position: -256px 0;
}
.icon-drawer {
	background-position: -288px 0;
}
.icon-user {
	background-position: -320px 0;
}
.icon-search {
	background-position: -352px 0;
}
.icon-hammer {
	background-position: -384px 0;
}
.icon-lab {
	background-position: -416px 0;
}
.icon-signup {
	background-position: -448px 0;
}
.icon-thumbs-up {
	background-position: -480px 0;
}
.icon-thumbs-up2 {
	background-position: 0 -32px;
}
.icon-notification {
	background-position: -32px -32px;
}
.icon-question {
	background-position: -64px -32px;
}
.icon-info {
	background-position: -96px -32px;
}
.icon-blocked {
	background-position: -128px -32px;
}
.icon-plus {
	background-position: -160px -32px;
}
.icon-filter {
	background-position: -192px -32px;
}
.icon-text-height,.ke-icon-header {
	background-position: -224px -32px;
}
.icon-bold, .ke-icon-bold {
	background-position: -256px -32px;
}
.icon-underline,.ke-icon-underline {
	background-position: -288px -32px;
}
.icon-italic,.ke-icon-italic {
	background-position: -320px -32px;
}
.icon-share {
	background-position: -352px -32px;
}
/*icon white*/
.icon-white-home,.icon-white-bullhorn,.icon-white-drawer,.icon-white-user,.icon-white-search,.icon-white-signup {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/sprites2.png);
	background-repeat: no-repeat;
}
.icon-white-home {
	background-position: 0 0;
}
.icon-white-bullhorn {
	background-position: -32px 0;
}
.icon-white-drawer {
	background-position: -64px 0;
}
.icon-white-user {
	background-position: -96px 0;
}
.icon-white-search {
	background-position: -128px 0;
}
.icon-white-signup {
	background-position: -160px 0;
}

[class^="social-"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../img/social.png);
	background-repeat: no-repeat;
}
.social-sinat{
	background-position: 0px 0px;
}
.social-tt{
	background-position: -46px 0px;
}
.social-weixin{
	background-position: -69px 0px;
}
.social-qq{
	background-position: -23px 0px;
}
.social-renren{
	background-position: -92px 0px;
}
.social-sinat:hover, .social-sinat.light{
	background-position: 0px -29px;
}
.social-tt:hover,.social-tt.light{
	background-position: -46px -29px;
}
.social-weixin:hover,.social-weixin.light{
	background-position: -69px -29px;
}
.social-qq:hover,.social-qq.light{
	background-position: -23px -29px;
}
.social-renren:hover,.social-renren.light{
	background-position: -92px -29px;
}

/*sidenav*/
.sidenav {
	display: block;
	position: fixed;
	top: 50%;
	margin-top: -124px;
	right: 0;
	color: #fff;
	text-align: center;
	z-index: 999;
}
.sidenav ul{
	list-style: none;
	margin: 0;
}
.sidenav ul li{
	/*background: #ddd;*/
	/*border-left: 3px solid #999;*/
	margin-bottom: 1px;
}
.sidenav ul li a{
	display: block;
	background: #ddd;
	padding: 10px 20px;
	border-left: 3px solid #999;
	text-align: left;
	line-height: 20px;
	width: 100px;
}
.sidenav ul li a:hover{
	text-decoration: none;
	color: #333;
}
.sidenav ul li a:hover i{
	opacity: 0.8;
}
.sidenav ul li.active a{
	background: white;
	/*padding: 10px 30px;*/
	border-left: 3px solid #2ECC71;
	color: #333;
}
.sidenav ul li.follow{
	margin-bottom: 20px;
}
.sidenav ul li.follow a{
	background: #2ECC71;
	color: white;
	border: none;
	text-decoration: none;
	border-left: 3px solid #2ECC71;
}
.sidenav ul li.follow a:hover{
	background: #27AE60;
}
.sidenav ul li.follow a.followed{
	background: #f5f5f5;
	color: #333;
	border-left: 3px solid #f5f5f5;
}
.sidenav ul li a i{
	margin-right: 3px;
	margin-top: 2px;
}
.sidenav ul li.active a i {
	opacity: 0.8
}
.sidenav ul li a span{
	float: right;
	margin-top: 1px;
}


/*footer*/
footer{
	/*background: #f7f7f7;*/
}
footer ul{
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 20px 100px;
}
footer ul a{
	text-decoration: none;
	font-size: 12px;
	color: #777;
}
footer .pull-left{
	float: left;
	margin-left: 20px;
}
footer .pull-right{
	float: right;
	margin-left: 20px;
}

/*typeahead*/
.typeahead{
	border: none;
}
ul.typeahead>li.active>a{
	background-color: #ddd;
	background-image: none;
}
ul.typeahead>li>a>img{
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #ccc;
	border: 1px solid #777;
	margin-right: 10px;
	border-radius: 10px;
}
