
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>梦想，从这里开始</h1>
        <p>由最懂大学生的我们帮助大学生创业！</p>
        <p><a href="/blog/articles" class="btn btn-success btn-lg">在这里开始</a></p>
        <!-- <div class="read-more"> -->
        <a href="#gift-list" class="read-more" title="查看详细">
          <p>了解模式方更多</p>
        </a>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <%= render 'front_page/projects'%>
  <%= render 'front_page/advantage'%>

</div>

