<div class="row-fluid">
  <div class="span7 offset1">
    <div class="page-header">
      <h2>最新文章</h2>
    </div>
    <%= render 'articles_list', { :articles => @articles } %>
  </div>
  <div class="span2 offset1">
    <%= render 'sidebar' %>
  </div>
</div>



